body {
    font-family: 'Abel', sans-serif;
}


.color-icons-group {
    /*margin-left: 200px;*/

}

.color-icons {
    height: 105px;
    width: 105px;
    margin: 20px;
    display: inline-block;
    border: 5px solid white;
}

.icon-text {
    margin: 30px;
    text-transform: uppercase;
    font-size: 24px;
    color: #FFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;

}

.head-style {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.h1 {
    font-size: 64px;

}

.h2 {
    font-size: 48px;

}

.h3 {
    font-size: 40px;

}

.h4 {
    font-size: 32px;

}

.h5 {
    font-size: 28px;

}

p {

}

.content-heading {

}

.design {
    background-color: #e6563B;
}

.develop {
    background-color: #EB9D3A;

}

.support {
    background-color: #7CB06C;
}

.host {
    background-color: #00aba9;
}


.work-imgs img{
    width: 100%;
    border-radius: 5px;
    border: 8px solid #eeeeee;
}

.img-labels {
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;

}

.color-icons-s {
    height: 22px;
    width: 22px;
    margin: 5px;
    display: inline-block;

}

.icon-text-s {
    text-align: center;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

section ul {
    padding-left: 0px;
}

section ul li {
    list-style-type: none;
    margin: 30px;
    margin-left: 0px;

}

.the-last img {
    width: 55px;
    height: 55px;
    float: left;
    border: 2px solid lightgray;
    margin: 10px;
    margin-top: 0px;
}


#img3 {
    height: 238px;
}

.small-icons-group {
    /*float: right;*/
}


