
.head-style {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;

}

.color-icons-group {
    margin-left: 200px;
}

.color-icons {
    height: 105px;
    width: 105px;
    margin: 20px;
    display: inline-block;
    border: 5px solid white;
}

.icon-text {
    margin: 30px;
    text-transform: uppercase;
    font-size: 24px;
    color: #FFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;

}


.design {
    background-color: #e6563B;
}

.develop {
    background-color: #EB9D3A;

}

.support {
    background-color: #7CB06C;
}

.host {
    background-color: #00aba9;
}

.work-imgs img{
    width: 100%;
    border: 2px solid grey;
}

.color-icons-s {
    height: 18px;
    width: 18px;
    margin: 20px;
    display: inline-block;

}

.icon-text-s {
    text-align: center;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

section ul li {
    list-style-type: none;
}